.title-1{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 100%;
}

.title-1 h1{
    text-align: left;
    color: white;
    padding-left: 7%;
}
.title-1 h2{
    text-align: left;
    color: white;
    padding-left: 7%;
}

.bg-1{
    width:35%;
    height: 100%;
}

