.title-6{
    display: flex;
    width: 100%;
    height: 15%;
}

.title-6 h1{
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: white;
    margin-left: 7%;
}

.bg-6{
    height: 85%;
    width: 40%;
}

.content-6{
    height: 85%;
    width: 60%;
}

.content-6 ul{
    padding-left: 20%;
    padding-top: 10%;
}

.content-6 li{
    color: black;
    font-size: 2em;
    margin-top: 0.5em;
}